{% load static %}
<!DOCTYPE html>
<html>

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>E-Tender</title>

	<meta name="keywords" content="" />
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts"
		href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="{% static 'css/skins/skin-corporate-3.css' %}">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<!-- Head Libs -->
	<script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>

</head>

<body data-plugin-page-transition>
	<div class="body">
		{% include 'header.html' %}
		<div role="main" class="main">
			<section class="page-header page-header-classic page-header-sm">
				<div class="container">
					<div class="row">
						<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
							<h1 data-title-border>About Us</h1>
						</div>
						<div class="col-md-4 order-1 order-md-2 align-self-center">
							<ul class="breadcrumb d-block text-md-end">
								<li><a href="#">Home</a></li>
								<li class="active text-white"> About Us </li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<div class="container pb-1">

				<div class="row pt-4" style="min-height:350px;">
					<div class="col-md-12">
						<h1>About This Portal</h1><br/>
						The online Etender Portal System services ltd. is a hosted solution for
						procurement services. The underlying philosophy of this solution is to provide a common
						e-business hub, for multiple buyers and sellers to come together and conduct business without
						compromising individual requirements and relationships among the participants. The system has
						been designed to accommodate organization specific document and process requirements.

                    	The solution offers value propositions for buyer organizations at different levels of I T
						adoption and readiness. For organizations at a nascent stage of I T adoption, the solution
						offers the Buyer Organization(s) the facility to create business documents on E T S. For matured
						organizations low-cost, secured and state-of-art technology components are used for the
						translation and transmission of business documents created in the legacy 

					</div>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}
	</div>

	<!-- Vendor -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js' %}"></script>
	<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static 'js/theme.js' %}"></script>

	<!-- Theme Custom -->
	<script src="{% static 'js/custom.js' %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static 'js/theme.init.js' %}"></script>

</body>

</html>