<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./sendmail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sendemail</title>
</head>
<body>
    <form id="form">
        <div class="field">
          <label for="from_name">from_name</label>
          <input type="text" name="from_name" id="from_name">
        </div>
        <div class="field">
          <label for="to_name">to_name</label>
          <input type="text" name="to_name" id="to_name">
        </div>
        <div class="field">
          <label for="message">message</label>
          <input type="text" name="message" id="message">
        </div>
        <div class="field">
          <label for="reply_to">reply_to</label>
          <input type="text" name="reply_to" id="reply_to">
        </div>
      
        <input type="submit" id="button" value="Send Email" >
      </form>
</body>
</html>